@import url("fonts.css");

html, body {
	font-family: "SegoeUIRegular", sans-serif;
	font-size: 14px;
}

h1 {
	font-family: "SegoeUIBold", sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
}

h3 {
	font-family: "SegoeUISemiBold", sans-serif;
	font-size: 1.285714285714286rem; /* 18px / 14px */
}

.contact-links {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.contact-links li {
	margin-right: .5rem;
}

.contact-links a {
	display: block;
	text-align: center;
	line-height: 1rem;
	width: 1rem;
	height: 1rem;
	padding: .5rem;
	border-radius: 50%;
	color: #000;
	background-color: #ccc;
}

.contact-links a:hover {
	color: blue;
}